{% load staticfiles %}
<html>
<head>
    <title>Login Page</title>
    <link href="/static/images/new.png" rel="shortcut icon" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!--Js Jquery and other CDNS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
             integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
             integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
             integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!--navbar code -->
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span id="ham" class="sr-only">Toggle navigation</span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> PANDAY'S</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/home/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home<span class="sr-only">(current)</span></a></li>
        <li ><a href="/services/">Services</a></li>
        <li ><a href="/feedback/"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Feedback</a></li>
        <li ><a href="/gallery/"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="offset md-4 col-md-6">
            <form method="post">
                <h3 class="bg-primary text-white">Please Login Here</h3>
                {% csrf_token %}
                {{ lform }}
            <br>
            <center>
            <a href="/user/">Login here</a>
            <input type="reset" value="clear" class="btn btn-danger"><br>
            <a href="/reg/">New User?</a>
            </center>
            </form>
        </div>
    </div>
</div><br/><br/><br/><br/><br/><br/>
<pre style="color: black; font-size: 20px">
Developed By Ashutosh Anand                                                                         8789675572
</pre>
</body>
</html>
