{% load staticfiles %}
<html>
<head>
    <title>Services Page</title>
    <link href="/static/images/new.png" rel="shortcut icon" />
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
     <meta charset="utf-8">
    <!-- Fontawesomes CDNs-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!--Js Jquery and other CDNS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
             integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
             integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
             integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body id="back">
<!--navbar code -->
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span id="ham" class="sr-only">Toggle navigation</span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
        <span id="ham" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> PANDAY'S</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/home/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home<span class="sr-only">(current)</span></a></li>
        <li ><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Services</a></li>
        <li ><a href="/feedback/"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Feedback</a></li>
        <li ><a href="/gallery/"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1 id="head1"><u>Welcome to Pandey Matrimonial</u></h1><br/><br/>
<h2 id="head2"><u>We have following services:---></u></h2>
<center>
    <table border="2px">
        <thead>
        <tr><th>Sno</th>
            <th>Decorators</th>
            <th>Jaymala</th>
            <th>Catering</th>
            <th>Trips</th>
            <th>Photography</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Bride/Groom Makeup</td>
            <td>Simple</td>
            <td>Simple</td>
            <td>Goa</td>
            <td>Normal</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jaymala</td>
            <td>Buffet System</td>
            <td>Hanging</td>
            <td>Singapore</td>
            <td>HD</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Home</td>
            <td>Three star</td>
            <td>Sliding</td>
            <td>Mauritius</td>
            <td>Collage</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Madwa</td>
            <td>Four Star</td>
            <td>Movable</td>
            <td>Maldives</td>
            <td>Grouping</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Room</td>
            <td>Five star</td>
            <td>Circular</td>
            <td>Paris</td>
            <td>Drone</td>
        </tr>
    </table>
</center><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<pre style="color: black; font-size: 20px">
Developed By Ashutosh Anand                                                                         8789675572
</pre>
</body>
</html>